- name: Create directory for agama user
  ansible.builtin.file:
    path: /opt/agama
    state: directory

- name: Download agama dockerfile
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/hudolejev/agama/master/{{ item }}
    dest: /opt/agama
  loop:
    - agama.py
    - Dockerfile

- name: Build agama image
  community.docker.docker_image:
    name: agama
    source: build
    build:
      path: /opt/agama

- name: Get container info
  community.docker.docker_host_info:
    containers: yes
    containers_filters:
      name: "agama"
  register: status

- name: Start agama containers
  community.docker.docker_container:
    image: agama
    name: "{{ item.key }}"
    published_ports: "{{ item.value }}:8000"
    env:
      AGAMA_DATABASE_URI: mysql+pymysql://{{ mysql_user }}:{{ mysql_password }}@{{ mysql_host }}/{{ mysql_database }}
    restart_policy: unless-stopped
  no_log: true
  loop: "{{ agama_docker_containers | dict2items}}"

- name: Remove unnecessary agama containers
  community.docker.docker_container:
    name: "{{ item['Names'][0] }}"
    container_default_behavior: "no_defaults"
    state: absent
  loop: "{{ status.containers }}"
  when: item['Names'][0][1:] not in agama_docker_containers .keys()|list

- name: Add agama CNAME records
  community.general.nsupdate:
    key_name: "nsupdate.key"
    key_secret: "{{ dns_nsupdate_key }}"
    key_algorithm: "hmac-sha256"
    zone: "{{ company_name }}{{root_zone}}"
    server: "{{ hostvars[groups['dns_primary'][0]]['ansible_default_ipv4']['address'] }}"
    record: "web-{{ inventory_hostname[-1] if groups['web_servers']|length - 1 else None }}"
    value: "{{ inventory_hostname }}"
    type: "CNAME"
  no_log: true
