---
  - name: Install mysql-server from APT
    ansible.builtin.apt:
      name: mysql-server

  - name: Mysql configuration
    ansible.builtin.copy:
      src: override.cnf
      dest: /etc/mysql/mysql.conf.d/override.cnf
    notify: Restart Mysql

  - name: Install PyMySql from APT
    ansible.builtin.apt:
      name: python3-pymysql

  - name: Create database
    community.mysql.mysql_db:
      name: "{{ mysql_database }}"
      login_unix_socket: /var/run/mysqld/mysqld.sock

  - name: Create agama as database user
    community.mysql.mysql_user:
      login_unix_socket: /var/run/mysqld/mysqld.sock
      name: "{{ mysql_user }}"
      password: "{{ mysql_password }}"
      host: "%"
      priv: "{{ mysql_database }}.*:ALL"

  - name: Install mysql exporter
    ansible.builtin.apt:
      name: prometheus-mysqld-exporter
  
  - name: Create exporter user
    community.mysql.mysql_user:
      login_unix_socket: /var/run/mysqld/mysqld.sock
      name: "{{ mysql_exporter_user }}"
      password: "{{ mysql_exporter_password }}"
      priv: "*.*:PROCESS,REPLICATION CLIENT,SELECT"

  - name: Copy .my.cnf to /var/lib/prometheus/.my.cnf
    ansible.builtin.template:
      dest: /var/lib/prometheus/.my.cnf
      src: my.cnf.exporter.j2
      mode: 0400
      owner: prometheus
    no_log: true
    notify: Restart node exporter

  - name: Execute handler early
    meta: flush_handlers

  - name: Check mysql enabled and started
    ansible.builtin.service:
      name: mysql
      state: started
      enabled: true
  
  - name: Check node exporter started
    ansible.builtin.service:
      name: prometheus-mysqld-exporter
      state: started
      enabled: true

  - name: Create directory mysql backup
    ansible.builtin.file:
      path: /home/backup/mysql
      owner: backup
      state: directory
      mode: "0400"

  - name: Create backup as database user
    community.mysql.mysql_user:
      login_unix_socket: /var/run/mysqld/mysqld.sock
      name: backup
      password: "{{ mysql_password }}"
      host: "%"
      priv: "{{ mysql_database }}.*:LOCK TABLES,SELECT"
      state: present

  - name: Copy .my.cnf to /home/backup/.my.cnf
    ansible.builtin.template:
      dest: /home/backup/.my.cnf
      src: my.cnf.backup.j2
      mode: 0400
      owner: backup
    no_log: true
  
  - name: Copy cron schedule file
    ansible.builtin.template:
      src: mysql-backup
      dest: /etc/cron.d/mysql-backup