apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: "b53ed1bd-08d1-413f-97be-6d2bea515f24"
    url: http://{{ ansible_host }}:9090/prometheus
    isDefault: True
