apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: "b53bd1bd-00b1-413f-97be-6d2bea515633"
    url: http://{{ inventory_hostname }}:9090/prometheus
    isDefault: True
