- name: Add user "keepalived_script"
  ansible.builtin.user:
    name: keepalived_script
    home: /home/keepalived_script
    shell: /bin/bash

- name: Install keepalived
  ansible.builtin.apt:
    name: keepalived

- name: Copy keepalived config
  ansible.builtin.template:
    src: keepalived.conf.j2
    dest: /etc/keepalived/keepalived.conf
  notify: Restart keepalived

- name: Copy keepalived script file
  ansible.builtin.copy:
    src: vrrp_script
    dest: /home/keepalived_script/vrrp_script
    owner: keepalived_script
    mode: 0700
  notify:
    - Restart keepalived

- name: Start and enable keepalived
  ansible.builtin.service:
    name: keepalived
    state: started
    enabled: true

- name: Download keepalived exporter
  ansible.builtin.apt:
    deb: http://backup/keepalived-exporter_1.4.0_linux_amd64.deb
    
- name: Copy keepalived exporter service file
  ansible.builtin.copy:
    src: keepalived_exporter.service
    dest: /etc/systemd/system/keepalived_exporter.service

- name: Start and enable keepalived exporter
  ansible.builtin.service:
    name: keepalived_exporter
    state: started
    daemon_reload: true
    enabled: yes