acl allowednets {
{% for network in allowed_networks %}
{{network}};
{% endfor %}
};

options {

    allow-query { allowednets; };

    directory "/var/cache/bind";

        forwarders {
        {% for forwarder in dns_forwarders %}
        {{forwarder}};
        {% endfor %}
        };

    dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer.key" {
  algorithm hmac-sha256;
  secret "{{ dns_transfer_key }}";
};

key "nsupdate.key" {
  algorithm hmac-sha256;
  secret "{{ dns_nsupdate_key }}";
};
