[Unit]
Description=Shell script which outputs agama status
Documentation=https://github.com/romankuchin/ica0002-2024/tree/0195f92be457a0f490c272daec0a757fb7232976/08-logging
After=network-online.target

[Service]
User={{ agama_client_user }}
ExecStart=/usr/local/bin/{{ agama_client_application }}

[Install]
WantedBy=multi-user.target
