#- name: Add Juri as user to node
#  ansible.builtin.user:
#    name: juri
#- name: Add Roman as user to node
#  ansible.builtin.user:
#    name: roman
#- name: Add Juri's public key
#  ansible.posix.authorized_key:
#    key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC/PLdlvr9Z8PyzMNsG17kF8PuVFyD+M30RvBe6CBNu+DRjSeKzeougyTVDydsWA/trjDBWQ26nfJmqevJh6woZJudqRCQNfUsF4IuM4C94hzgtTwzyNRtHrI8Pv18pcjJipzPyl5AEW2sqV0ABPDuI8gxcRWfkiF8TLoz2Q65qJe0rag0b9c8XSHyLP0/V9nsH2fjd1GLcCqe2lmKYNJppwN/BYc/D1/yiwMSqTxgK/XCUwJDTloxepjTvlq1P5GGqH8V238AHL/y1khAbXclERC9ropOcUhdDgeWGXCzFyMGd5qUyOgwbnFgMameKSuYptclhwo7MzlygfgGoK6RCyy3xDsnvFOyadWsxXmdnwv851JYLnmeMjMkDlF/NDA3uVKnDVTsDcPyAq+YdSmpI3BDw2MHRFqnWCM2SkW+euQNuTxl7ykrxkKM/U80BXGd1oL4Is7QDNS0y+c1VyJ0Rts5M1StshJakhidUrlqUjyJ/UK8ZuyaTMKgLial2k/k=
#    user: juri
#- name: Add Roman's public key
#  ansible.posix.authorized_key:
#    key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDFligqCTgPl8lcKVsgHq9K9zEelCfTP+hcuG9tdhHgBoHwlZPilvTmi4veyORSGTuS9x8XwJuDAnAZsT75TFQVbOjp0XqqcpV/jF4ix6mS6kmdJzzruAaYSI6FWit4ZeRz8/XfNOmg2xaPn3A6hWAUAOhpeOiXtKcSZVOIitJOirjjYrK5Sq+cW8pFGjVWpweU46WwKYoPr1EyEN1PqUjDTOU4LvShEK1TF/kZOeRMysPf9lz1JQO6BKEr0oRWaROCMZwuTDlmh9i0LZEwje6e5ADxMyTHp9fgpCV9a4hDOE7EQdmePDtDO9PHjGQD3m060ydOiFbjSI98q0puzEKxpfzcyMEb/ztdiLWOBO5ANOMzADZ9f+D0S3bqHbSlq/pHXJ2aF2DfROKOrIg1ABFcgz4ugaGhQzYmxsKc2SXgzk/D7952k+FP5FxvW5FpX+xgkMGkt2XlLzjpvZO5eH/rHDppO1v+Pr876di5NbiXCC0GL3C80H2dl4QIrpeDtlFIO5spVtMqFBbUcXticNC9C6dXjOL5p5jhLq82tKHlc5Mnx0cyPRHeO8XCkA0MsipMOGy+tIiOPKaO/dDMT7kiYZKYvaNaUrmdB0MISydE8kTknHBVX9b/qOOysHglMJgmfIYP2YWXDVQFWq9hkWFVIS+yPiaEViphRKbTZMBbLQ==
#    user: roman
---
  - name: Update APT cache
    ansible.builtin.apt:
      cache_valid_time: 86400
  - name: Install prometehus-node-exporter from APT
    ansible.builtin.apt:
      name: prometheus-node-exporter
  - ansible.builtin.service:
      name: prometheus-node-exporter
      state: started
      enabled: true
  - name: Install rsyslog
    ansible.builtin.apt:
      name: rsyslog
  - name: Start and enable rsyslog
    ansible.builtin.service:
      name: rsyslog
      state: started
      enabled: yes
  - name: Copy rsyslog config
    ansible.builtin.template:
      src: 50-telegraf.conf.j2
      dest: /etc/rsyslog.d/50-telegraf.conf
    notify: restart rsyslog
  - name: Create backup user with RSA key
    ansible.builtin.user:
      name: backup
      home: /home/backup
      generate_ssh_key: true
      ssh_key_type: rsa
  - name: Add backup server public key to known hosts
    ansible.builtin.template:
      src: known_hosts.j2
      dest: /home/backup/.ssh/known_hosts
      group: backup
      owner: backup
