global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.


scrape_configs:
  - job_name: 'prometheus'

    scrape_interval: 5s
    scrape_timeout: 5s

    metrics_path: '/prometheus/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['localhost:9090']

    
  - job_name: 'linux'
    scrape_interval: 10s
    static_configs:
      - targets: [{%- for vm in groups['all'] -%}
'{{ vm }}:{{ node_exporter_port }}'{% if not loop.last %},{% endif %}
{%- endfor -%}]

  - job_name: 'mysql'
    scrape_interval: 10s
    static_configs:
      - targets: [{%- for vm in groups['db_servers'] -%}
'db-{{ vm[-1] }}:9104'{% if not loop.last %},{% endif %}
{%- endfor -%}]

  - job_name: 'bind'
    scrape_interval: 10s
    static_configs:
      - targets: [{%- for vm in groups['dns_servers'] -%}
'ns-{{ vm[-1] }}:9119'{% if not loop.last %},{% endif %}
{%- endfor -%}]

  - job_name: 'nginx'
    scrape_interval: 10s
    static_configs:
      - targets: [{%- for vm in groups['web_servers'] -%}
'web-{{ vm[-1] }}:9113'{% if not loop.last %},{% endif %}
{%- endfor -%}]

  - job_name: 'influxdb'
    scrape_interval: 10s
    static_configs:
      - targets: [{%- for vm in groups['influxdb'] -%}
'influxdb{{ vm[-1] if groups['prometheus_servers']|length - 1 else None }}:9424'{% if not loop.last %},{% endif %}
{%- endfor -%}]

  - job_name: 'backup'
    scrape_interval: 10s
    static_configs:
      - targets:
          - {{ backup_server_name }}.{{ domain }}:9111
  
  - job_name: 'keepalived'
    scrape_interval: 10s
    static_configs:
      - targets: [{%- for vm in groups['web_servers'] -%}
'lb-{{ vm[-1] }}:9165'{% if not loop.last %},{% endif %}
{%- endfor -%}]

  - job_name: 'haproxy'
    scrape_interval: 10s
    static_configs:
      - targets: [{%- for vm in groups['web_servers'] -%}
'lb-{{ vm[-1] }}:9101'{% if not loop.last %},{% endif %}
{%- endfor -%}]
